---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<!-- ────── NEW STATIC SECTIONS ────── -->
<h2><strong>Publications in Spanish</strong></h2>
<ul class="archive-list">
  <li>Nino Chaparro, G.E., Nino Chaparro, A., & Chaparro Pesca, J.A. (2023). AI in Colombian Food Markets: Using Machine Learning to Address Price Crisis. Económicas CUC, 27-10-2023.DOI: https://doi.org/10.17981/econcuc.Org.4818.</li>
  <li>Niño, G.E.; Chaparro, J.A.; Niño, A., (2023). Análisis de las tendencias especulativas de los precios de alimentos en Colombia. Panorama Económico, 31(4),294-310</li>
</ul>

<h2><strong>Outreach Articles</strong></h2>
<ul class="archive-list">
  <li><a href="https://farmdocdaily.illinois.edu/2025/02/valentines-day-and-the-gains-from-agricultural-trade-cut-flowers-in-the-us.html">Valentine’s Day and the Gains from Agricultural Trade: Cut Flowers in the US</a> — with J. Janzen. <em>farmdoc daily</em> (15):25, February 10 2025.</li>
  <li><a href="https://farmdocdaily.illinois.edu/2022/12/guacamole-is-back-seasonal-production-from-south-america-lowered-avocado-prices.html">Guacamole Is Back: Seasonal Production from South America Lowered Avocado Prices</a> — with J. Janzen. <em>farmdoc daily</em> (12):196, December 28 2022.</li>
</ul>

<h2><strong>Work in&nbsp;Progress Articles</strong></h2>
<ul class="archive-list">
  <li>Understanding Commuters’ Riding Behavior: An Analysis Using Google Phone Location Data and Uber Data in Three Main Cities of the USA ― with Peter Christensen, Adam Osman, and Lewis Lehe</li>
  <li>From Metro Lines to Market Values: A Case Study of Rail Expansion and Land Prices in Buenos Aires ― with Christian Valencia</li>
  <li>Trade Costs in a Domestic Context: Assessing the Welfare Effects of Longer Routes in Agricultural Trade ― with Taejun Mo and William Ridley</li>
  <li>Succession in the Shadows: Effects of a Dominant Trafficker’s Exit on the Drug Supply Chain Competition ― with Federico Ceballos and Benjamin Crost</li>
</ul>


<!-- ──────────────────────────────── -->


